@font-face {
  font-family: 'kalam';
  src: url('font/kalam.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ants_valley';
  src: url('font/ants_valley.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cloudfire css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* Second Css part 1 */
:root {
  /* The color for your card background and background pattern */
  --background: #F3F0D7;
  --background-decor: #DBD0C0;


  /* Colors for the elements on your card */
  --banner-bg: #1C0C5B;
  --banner-txt: white;

  /* Message area colors */
  --message-bg: #F1EDE9;
  --message-line: #94ACD4;
  --message-txt: #333333;

  /* Fonts */
  --font-banner: 'Abril Fatface', cursive;
  --font-text: 'Shadows Into Light', cursive;

  /* Space and other details */
  --space: 16px;
  --space-xsm: 4px;
  --space-sm: 8px;
  --space-lg: 24px;
  --space-xlg: 48px;
}

/* part 1 ended */

html {
  font: 500 100%/1.4 system-ui;
  background-color: #ccc;
/*   background: url(img/bg2.JPG); */
}

#body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0rem;
  padding: 1rem;
}


.head {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 5vw;
  font-family: ants_valley;
}

@media only screen and (max-width: 300px) {
  .head {
    font-size: 9vw;
  }
}

.card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  /* background: url(img/bg2.JPG); */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.card>img {
  width: 100%;
  height: auto;
  aspect-ratio: 600/300;
}

.card>h2 {
  margin-top: 1rem;
  font-family: "kalam", cursive;
  font-weight: normal;
  font-size: 2rem;
  color: #4a4a7d;
  text-align: center;
}

.card>p {
  font-family: "kalam", cursive;
  font-size: 1rem;
  color: #5e5e89;
  text-align: center;
}

/* Second Css part 2 */

.up {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* overflow-x: hidden; */

  /* background color - here we are using the variable we created earlier! */
  background-color: var(--background);

  /* background pattern - remove the lines below and paste the new code if you want to use a different style */
  background-image: radial-gradient(var(--background-decor) 20%, transparent 0), radial-gradient(var(--background-decor) 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.bday-card {
  max-width: 420px;
  height: 100%;
  padding-top: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.bday-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 240px;
  padding: var(--space-sm) var(--space-sm) var(--space-xlg);
  background: white;
  border-radius: 4px;
  box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0, 0, 0, .15);

  /* Edit the Translate property below to adjust the position of your picture */
  transform: rotate(5deg) translate(20px, 45px);
}

.bday-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bday-decor--container {
  position: relative;
}

.bday-banner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 42px;
  z-index: 1;

  /* Play around with those properties to change your banner styling */
  color: var(--banner-txt);
  font-family: var(--font-banner);
  text-transform: uppercase;
  transform: rotate(-5deg);
  gap: var(--space-sm) 0;
}

.bday-banner span {
  background: var(--banner-bg);
  padding: var(--space) var(--space-lg);
  flex-grow: 0;
}

.bday-banner span:nth-child(2) {
  margin-left: var(--space-lg);
}


.bday-message {
  max-width: 80%;
  padding: 35px var(--space);
  font-family: var(--font-text);
  font-size: 18px;
  line-height: 32px;
  color: var(--message-txt);
  background-color: var(--message-bg);
}

/* Paper */
.bday-message--paper {
  background: repeating-linear-gradient(var(--message-bg), var(--message-bg) 31px, var(--message-line) 31px, var(--message-line) 32px);
  box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0, 0, 0, .15);
}

/* End - Paper */

/* Block right */
.bday-message--block-right {
  position: relative;
}

.bday-message--block-right::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--paper);
  z-index: -1;
}

/* End - Block right */

/* Block left */
.bday-message--block-left {
  position: relative;
}

.bday-message--block-left::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--paper);
  z-index: -1;
}

/* End - Block left */


.bday-decor {
  /* Emojis are text - so here we are setting a font-size to make them bigger */
  font-size: 96px;
}

/* Positioning for the emojis - play around with the values to change the placement of your decorations */
.bday-decor--top-right {
  position: absolute;
  bottom: -70px;
  right: -20px;
}

.bday-decor--top-left {
  position: absolute;
  bottom: 0px;
  left: -25px;
}

.bday-decor--bottom-right {
  position: absolute;
  right: 20px;
}

/* Animations */

/* Here we designate an specific animation to an specific element using a class. We have a defined name, time and iteration-count for each animation. We can also define the origin point from which the animation will happen - the default is the center. */
.zoom-left-in-out {
  animation-name: zoom-left-in-out;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}

/* Here we specify what will change on the element when they animate */
@keyframes zoom-left-in-out {

  /* Animation will start and end with the same settings */
  0%,
  100% {
    transform: scale(0.95) rotate(2deg);
  }

  /* Animation will reach those settings 50% into the duration time we set on the declaration */
  50% {
    transform: scale(1) rotate(-2deg);
  }
}

/* pulse */
.pulse {
  animation-name: pulse;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
}

/* pulse - End */

/* float */
.float {
  animation-name: float;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }
}

/* float - End */

/* spin */
.spin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* spin - End */
