@font-face {
    font-family: 'f2s-gugi-regular';
    src: url(../../assets/fonts/f2s-gugi-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f2s-raleway-medium';
    src: url(../../assets/fonts/f2s-raleway-medium.woff);
}

.title{
    font-family: f2s-gugi-regular;
}

.head{
    background-color: #31c48d;
    height: 10vw ;
}

h1{
    font-family: f2s-gugi-regular;
}
h3{
    font-family: f2s-raleway-medium;
}